<p id="notice"><%= notice %></p>

<h2>Welcome <%= @user.name %>!</h2>

<p>Latest MPG: ?</p>
<p>Overall MPG: ?</p>

<%= link_to "Add a new gas fill-up" %><br/>
<br/>
<%= link_to "Log out", logout_path %>
